# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.deps
Makefile
*.log
*.status
config.h
libtool
stamp-h1
*gmock*
*gtest*
opc_ua_binary_test

