Source: freeopcua
Section: net
Priority: extra
Maintainer: Alexander Rykovanov <rykovanov.as@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, cmake, libxml2-dev, libboost-system-dev, libboost-program-options-dev, libboost-filesystem-dev, libboost-thread-dev
Standards-Version: 3.9.4
Homepage: https://github.com/FreeOpcUa/freeopcua
Vcs-Git: https://github.com/FreeOpcUa/freeopcua.git

Package: libopcuaserver-dev
Section: libdevel
Architecture: amd64 i386
Depends: libopcuaserver (= ${binary:Version}), libopcuacore-dev (= ${binary:Version}), libopcuaprotocol-dev (= ${binary:Version}) 
Description: OPCUA server developer files.

Package: libopcuaserver
Section: net
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libopcuacore (= ${binary:Version}), libopcuaprotocol (= ${binary:Version})
Description: OPCUA server.

Package: libopcuaserver-doc
Architecture: any
Description: documentation for opcuaserver

Package: libopcuaprotocol-dev
Section: libdevel
Architecture: amd64 i386
Depends: libopcuaprotocol (= ${binary:Version})
Description: OPCUA protocol developer files.

Package: libopcuaprotocol
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OPCUA protocols.

Package: libopcuacore-dev
Section: libdevel
Architecture: amd64 i386
Depends: libopcuacore (= ${binary:Version}), libboost-system-dev, libboost-filesystem-dev, libopcuaprotocol-dev (= ${binary:Version})
Description: OPCUA core infrastructure developer files.

Package: libopcuacore
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libopcuaprotocol (= ${binary:Version})
Description: OPCUA core infrastructure.

Package: libopcuaclient-dev
Section: libdevel
Architecture: amd64 i386
Depends: libopcuaclient (= ${binary:Version}), libopcuacore-dev (= ${binary:Version}), libopcuaprotocol-dev (= ${binary:Version}), libboost-system-dev
Description: OPCUA client developer files.

Package: libopcuaclient
Section: libs
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}, libopcuacore (= ${binary:Version}), libopcuaprotocol (= ${binary:Version})
Description: OPCUA client.

